* {
  font-family: "Proxima Vara, Arial, Arial, Helvetica, sans-serif";
  letter-spacing: 2px;
}
#navbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  border-bottom: 1px solid rgb(202, 200, 200);
  height: 70px;
  z-index: 1;
  background-color: white;
}

#navbar div {
  width: 50%;
}

#navbar div img {
  width: 125px;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  padding-left: 30px;
}

#navlist {
  display: flex;
  justify-content: flex-end;
}

#navlist a {
  text-decoration: none;
  color: black;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 25px;
  white-space: nowrap;
  font-size: 15px;
}

#navlist a:hover {
  background-color: rgb(243, 243, 243);
}

#top {
  width: 500px;
  margin: 120px 0px 0px 32%;
}
.book {
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: #007cc2;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  width: 130px;
  height: 50px;
  cursor: pointer;
}
#top h1 {
  line-height: 2px;
}

#top p {
  font-size: 17px;
}

#top img {
  width: 100%;
}

#top button {
  height: 45px;
  width: 150px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #007cc2;
  border-radius: 9px;
  font-size: 17px;
}

#activity {
  margin: 30px 0px 0px 32%;
}

#activity p {
  font-size: 17px;
  font-weight: 700;
}

#list {
  border: 1px solid black;
}

#items {
  width: 70%;

  display: grid;
  row-gap: 20px;
  align-items: center;
}

#items > div {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  gap: 40px;
}

#items #info {
  font-weight: initial;
  color: #007cc2;
  font-size: 18px;
  line-height: 7px;
}

#items img {
  height: 90px;
  border-radius: 10px;
  margin-top: 20px;
}
