* {
  font-family: "Proxima Vara", Arial, Arial, Helvetica, sans-serif;
}
#container {
  margin-bottom: 150px;
  justify-content: center;
  align-items: center;
}
#logo {
  display: flex;
  /* border: 1px solid red; */
  /* height: 100px; */
  width: 100%;
  margin: auto;
}
#main {
  /* border: 1px solid black; */
  /* height: 500px; */
  width: 355px;
  margin: auto;
  margin-left: 37%;
}
h1 {
  font-size: 31px;
  margin-top: 40px;
  font-weight: 750;
  font-stretch: expanded;
}
#logo img {
  height: 34px;
  width: 110px;
  padding: 20px 37%;
  margin-top: 30px;
}
label {
  display: block;
  height: 18px;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 700;
}
.mail {
  height: 48px;
  width: 355px;
  border-radius: 8px;
  margin-top: 12px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-color: rgb(133, 128, 128);
}
button {
  display: block;
  height: 49px;
  width: 363px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #007cc2;
  color: white;
  font-weight: bold;
  font-size: larger;
  border: 1px solid #afb3bc;
}
.or {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-right: 1px;
  margin-left: 10px;
  color: rgb(135, 134, 134);
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(135, 134, 134);
  margin: 0 15px;
}
#directLogin {
  width: 355;
  /* margin-left: 37%; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#directLogin .Google img,
#directLogin .Ios img,
#directLogin .Fb img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
#directLogin .Google,
#directLogin .Ios,
#directLogin .Fb {
  display: flex;
  align-items: center;
  height: 54px;
  width: 358px;
  border-radius: 8px;
  border: 1px solid black;
  border-color: rgb(133, 128, 128);
  margin-bottom: 10px;
}

#directLogin .Google p {
  margin: 0;
  margin-left: 60px;
  text-align: center;
}
#directLogin .Fb p {
  margin-left: 60px;
}
#directLogin .Ios p {
  margin-left: 70px;
}
#directLogin p > span {
  color: blue;
}

#directLogin a {
  text-align: center;
  display: block;
}
@media screen and (max-width:1199px) {
      
}

/* @media screen and (max-width:740px) {
    } */
